* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  text-align: center;
}

.btn {
  padding: 0.9rem 1.4rem;
  border-radius: 35px;
  border: none;
  color: white;
  background: linear-gradient(176deg, #ff79da 10%, rgba(147, 86, 220, 0.994835) 93%);
  font-size: 16px;
}

footer {
  text-align: center;
  background-color: #353535;
  padding-bottom: 2rem;
}

footer .logo__footer {
  margin: 1rem;
  -webkit-filter: invert(1);
          filter: invert(1);
}

footer ul {
  list-style-type: none;
}

footer ul a {
  text-decoration: none;
  color: white;
}

main {
  margin: 0rem 10rem;
}

.logo {
  margin: 1.2rem;
}

.localisation {
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50px;
  border-top: solid 2px #cfcfcf;
}

.localisation .icone_marker {
  background-color: #eaeaea;
  border: none;
}

.localisation .search_input {
  background-color: #eaeaea;
  border: none;
  outline: none;
  margin-left: 1rem;
}

.explorer {
  text-align: center;
  margin: 0rem 0 3rem;
  background-color: #f6f6f6;
}

.explorer h1 {
  padding-top: 1rem;
}

.explorer p {
  margin-top: 1rem;
}

.explorer .btn {
  margin: 2rem 0;
}

.fonctionnement h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.fonctionnement .lesbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fonctionnement .lesbutton .btn__fonctionnement {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 0 5px 15px 0 #c3c3c3;
          box-shadow: 0 5px 15px 0 #c3c3c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.fonctionnement .lesbutton .btn__fonctionnement:hover {
  background-color: #f5edff;
}

.fonctionnement .lesbutton .btn__fonctionnement:hover .btn__fonctionnement__icone {
  color: #9356dc;
}

.fonctionnement .lesbutton .btn__fonctionnement .btn__fonctionnement__num {
  background-color: #9356dc;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement .lesbutton .btn__fonctionnement .btn__fonctionnement__icone {
  color: #7e7e7e;
  position: absolute;
  left: 47px;
}

.restaurants {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f6f6f6;
  padding: 1rem 1rem;
}

.restaurants h2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 1rem 0 2rem;
}

.restaurants .restaurants__element {
  margin: 10px 1rem 25px 1rem;
  width: 20rem;
  height: 18rem;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 20px #c9c9c9;
          box-shadow: 4px 4px 20px #c9c9c9;
}

.restaurants .restaurants__element a {
  position: relative;
  display: block;
  text-decoration: none;
  color: black;
}

.restaurants .restaurants__element img {
  width: 100%;
  height: 218px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants .restaurants__element .new {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #99E2D0;
  color: green;
  padding: 0.4em 0.8em;
}

.restaurants .restaurants__element .restaurants__element__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5rem;
}

.restaurants .restaurants__element .restaurants__element__description .restaurants__element__description__titre {
  width: 66%;
  padding-left: 1rem;
}

.restaurants .restaurants__element .restaurants__element__description .restaurants__element__description__titre h4 {
  font-weight: normal;
}

.restaurants .restaurants__element .restaurants__element__description .restaurants__element__description__coeur {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: xx-large;
}

.restaurants .restaurants__element .restaurants__element__description .restaurants__element__description__coeur:hover {
  background: linear-gradient(176deg, #ff79da 10%, rgba(147, 86, 220, 0.994835) 93%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.restaurants .restaurants__element .restaurants__element__description .restaurants__element__description__coeur:hover i {
  font-weight: 900;
}

@media screen and (max-width: 1024px) {
  .logo {
    width: 200px;
  }
  main {
    margin: 0rem 0rem;
  }
  .lesbutton {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .logo__footer {
    width: 270px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 200px;
  }
  main {
    margin: 0rem 0rem;
  }
  .lesbutton {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer {
    text-align: start;
  }
  footer .logo__footer {
    width: 100px;
  }
  footer ul {
    margin-left: 1rem;
  }
}
