* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  text-align: center;
}

.btn {
  padding: 0.9rem 1.4rem;
  border-radius: 35px;
  border: none;
  color: white;
  background: linear-gradient(176deg, #ff79da 10%, rgba(147, 86, 220, 0.994835) 93%);
  font-size: 16px;
}

footer {
  text-align: center;
  background-color: #353535;
  padding-bottom: 2rem;
}

footer .logo__footer {
  height: 3rem;
  margin: 1rem;
  -webkit-filter: invert(1);
          filter: invert(1);
}

footer ul {
  list-style-type: none;
}

footer ul a {
  text-decoration: none;
  color: white;
}
