* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  text-align: center;
}

.btn {
  padding: 0.9rem 1.4rem;
  border-radius: 35px;
  border: none;
  color: white;
  background: linear-gradient(176deg, #ff79da 10%, rgba(147, 86, 220, 0.994835) 93%);
  font-size: 16px;
}

footer {
  text-align: center;
  background-color: #353535;
  padding-bottom: 2rem;
}

footer .logo__footer {
  margin: 1rem;
  -webkit-filter: invert(1);
          filter: invert(1);
}

footer ul {
  list-style-type: none;
}

footer ul a {
  text-decoration: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 1rem;
}

header i {
  position: absolute;
  left: 4em;
  font-size: 1.3rem;
}

.banniere {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banniere img {
  width: 100%;
  height: 247px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin: -3rem 5rem 0;
  background-color: #f6f6f6;
  position: relative;
  border-radius: 25px 25px 0 0;
}

.menu .nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 2rem;
  padding: 1rem;
}

.menu .coeur:hover {
  background: linear-gradient(176deg, #ff79da 10%, rgba(147, 86, 220, 0.994835) 93%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.menu .coeur:hover i {
  font-weight: 900;
}

.menu h2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.entree, .plat, .dessert {
  margin: 1rem;
  -webkit-animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.entree .entree-container, .entree .plat-container, .entree .dessert-container, .plat .entree-container, .plat .plat-container, .plat .dessert-container, .dessert .entree-container, .dessert .plat-container, .dessert .dessert-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entree .entree-container .carte, .entree .plat-container .carte, .entree .dessert-container .carte, .plat .entree-container .carte, .plat .plat-container .carte, .plat .dessert-container .carte, .dessert .entree-container .carte, .dessert .plat-container .carte, .dessert .dessert-container .carte {
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px -3px #c3c3c3;
          box-shadow: 0px 0px 10px -3px #c3c3c3;
  margin: 1rem 1rem;
  width: 25rem;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.entree .entree-container .carte .carte-infos, .entree .plat-container .carte .carte-infos, .entree .dessert-container .carte .carte-infos, .plat .entree-container .carte .carte-infos, .plat .plat-container .carte .carte-infos, .plat .dessert-container .carte .carte-infos, .dessert .entree-container .carte .carte-infos, .dessert .plat-container .carte .carte-infos, .dessert .dessert-container .carte .carte-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.7rem 0 0.7rem 0;
  width: 100%;
  padding: 0.2rem 1rem;
}

.entree .entree-container .carte .carte-infos .carte-title, .entree .plat-container .carte .carte-infos .carte-title, .entree .dessert-container .carte .carte-infos .carte-title, .plat .entree-container .carte .carte-infos .carte-title, .plat .plat-container .carte .carte-infos .carte-title, .plat .dessert-container .carte .carte-infos .carte-title, .dessert .entree-container .carte .carte-infos .carte-title, .dessert .plat-container .carte .carte-infos .carte-title, .dessert .dessert-container .carte .carte-infos .carte-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.entree .entree-container .carte .carte-infos .carte-price, .entree .plat-container .carte .carte-infos .carte-price, .entree .dessert-container .carte .carte-infos .carte-price, .plat .entree-container .carte .carte-infos .carte-price, .plat .plat-container .carte .carte-infos .carte-price, .plat .dessert-container .carte .carte-infos .carte-price, .dessert .entree-container .carte .carte-infos .carte-price, .dessert .plat-container .carte .carte-infos .carte-price, .dessert .dessert-container .carte .carte-infos .carte-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.entree .entree-container .carte .carte-infos .carte-price .carte-details, .entree .plat-container .carte .carte-infos .carte-price .carte-details, .entree .dessert-container .carte .carte-infos .carte-price .carte-details, .plat .entree-container .carte .carte-infos .carte-price .carte-details, .plat .plat-container .carte .carte-infos .carte-price .carte-details, .plat .dessert-container .carte .carte-infos .carte-price .carte-details, .dessert .entree-container .carte .carte-infos .carte-price .carte-details, .dessert .plat-container .carte .carte-infos .carte-price .carte-details, .dessert .dessert-container .carte .carte-infos .carte-price .carte-details {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.entree .entree-container .carte .carte-confirme, .entree .plat-container .carte .carte-confirme, .entree .dessert-container .carte .carte-confirme, .plat .entree-container .carte .carte-confirme, .plat .plat-container .carte .carte-confirme, .plat .dessert-container .carte .carte-confirme, .dessert .entree-container .carte .carte-confirme, .dessert .plat-container .carte .carte-confirme, .dessert .dessert-container .carte .carte-confirme {
  display: none;
  background-color: #99e2d0;
  color: white;
  width: 120px;
  border-radius: 0px 15px 15px 0;
  border: none;
  font-size: 1.5rem;
}

.entree .entree-container .carte i, .entree .plat-container .carte i, .entree .dessert-container .carte i, .plat .entree-container .carte i, .plat .plat-container .carte i, .plat .dessert-container .carte i, .dessert .entree-container .carte i, .dessert .plat-container .carte i, .dessert .dessert-container .carte i {
  opacity: 0;
}

.entree .entree-container .carte:hover .carte-confirme, .entree .plat-container .carte:hover .carte-confirme, .entree .dessert-container .carte:hover .carte-confirme, .plat .entree-container .carte:hover .carte-confirme, .plat .plat-container .carte:hover .carte-confirme, .plat .dessert-container .carte:hover .carte-confirme, .dessert .entree-container .carte:hover .carte-confirme, .dessert .plat-container .carte:hover .carte-confirme, .dessert .dessert-container .carte:hover .carte-confirme {
  display: block;
  -webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.entree .entree-container .carte:hover i, .entree .plat-container .carte:hover i, .entree .dessert-container .carte:hover i, .plat .entree-container .carte:hover i, .plat .plat-container .carte:hover i, .plat .dessert-container .carte:hover i, .dessert .entree-container .carte:hover i, .dessert .plat-container .carte:hover i, .dessert .dessert-container .carte:hover i {
  -webkit-animation: rotate-center 0.3s ease-in-out both;
          animation: rotate-center 0.3s ease-in-out both;
}

.entree .entree-container .carte:hover .carte-details, .entree .plat-container .carte:hover .carte-details, .entree .dessert-container .carte:hover .carte-details, .plat .entree-container .carte:hover .carte-details, .plat .plat-container .carte:hover .carte-details, .plat .dessert-container .carte:hover .carte-details, .dessert .entree-container .carte:hover .carte-details, .dessert .plat-container .carte:hover .carte-details, .dessert .dessert-container .carte:hover .carte-details {
  width: 240px;
  margin-right: 10px;
}

.plat {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.dessert {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotate-center {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scale-in-hor-right {
  0% {
    width: 0;
  }
  100% {
    width: 150px;
  }
}

@keyframes scale-in-hor-right {
  0% {
    width: 0;
  }
  100% {
    width: 150px;
  }
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-container .btn {
  margin-bottom: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  header i {
    left: 2em;
  }
  header .logo__header {
    width: 150px;
  }
  .menu {
    margin: -3rem 0rem 0 0;
  }
  .menu h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-left: 16px;
  }
  footer {
    text-align: start;
  }
  footer .logo__footer {
    width: 100px;
  }
  footer ul {
    margin-left: 1rem;
  }
}
