@import 'main.scss';

@keyframes loader {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}
.loader{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s both;
}
main{
    margin: 0rem 10rem;
}
main, header, footer {
    z-index: 2;
}
.logo{
    margin: 1.2rem;
}

.localisation{
    background-color: $color-localisation;
    display: flex;
    justify-content: center;
    min-height: 50px;
    border-top: solid 2px #cfcfcf;
    .icone_marker{
        background-color: $color-localisation;
        border: none;
    }
    .search_input{
        background-color: $color-localisation;
        border: none;
        outline: none;
        margin-left: 1rem;
    }
}

.explorer{
    text-align: center;
    margin: 0rem 0 3rem;
    background-color: #f6f6f6;
    h1{
        padding-top: 1rem;
    }
    p{
        margin-top: 1rem;
    }
    .btn{
        margin: 2rem 0;
    }
}
.fonctionnement{
    h2{
        text-align: center;
        margin-bottom: 2rem;
    }
    .lesbutton{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .btn__fonctionnement{
            margin-left: 1rem;
            margin-right: 1rem;
            padding: 1.5rem 1rem 1.5rem 1rem;
            border-radius: 20px;
            border: none;
            box-shadow: 0 5px 15px 0 #c3c3c3;
            display: flex;
            margin-bottom: 3rem;
            position: relative;
            align-items: center;
            width: 30em;
            justify-content: center;
            cursor: pointer;
            &:hover{
                background-color: #f5edff;
                .btn__fonctionnement__icone{
                    color: #9356dc;
                }
            }
        
            .btn__fonctionnement__num{
                background-color:#9356dc;
                border-radius: 100%;
                width: 20px;
                height: 20px;
                position: absolute;
                left: -0.7rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .btn__fonctionnement__icone{
                color: #7e7e7e;
                position: absolute;
                left: 47px;
            }
        }
    }
    
}

.restaurants{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    padding: 1rem 1rem;
    h2{
        flex-basis: 100%;
        margin: 1rem 0 2rem;
    }
    .restaurants__element{
        margin: 10px 1rem 25px 1rem;
        width: 20rem;
        height: 18rem;
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 4px 20px rgb(201, 201, 201);
        a{
            position: relative;
            display: block;
            text-decoration: none;
            color: black;
        }
        img{
            width: 100%;
        height: 218px;;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
        }
        .new{
            position: absolute;
            right: 10px;
            top: 10px;
            background: #99E2D0;
            color: green;
            padding: 0.4em 0.8em;
        }
        .restaurants__element__description{
            display: flex;
            padding-top: 0.5rem;
            .restaurants__element__description__titre{
                width: 66%;
                padding-left: 1rem;
                h4{
                    font-weight: normal;
                }
            }
            .restaurants__element__description__coeur{
                width: 33%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: xx-large;
                &:hover{
                    background: $color-button;
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    i{
                        font-weight: 900;
                    }
                }
                
            }

        }
    }
}

@media screen and (max-width: 1024px)
{
    .logo{
        width: 200px;
    }
    main{
        margin: 0rem 0rem;
    }
    .lesbutton{
        justify-content: center;
    }
    footer{
        
        .logo__footer{
            width: 270px;
        }
    }
        
}

@media screen and (max-width: 768px)
{
    .logo{
        width: 200px;
    }
    main{
        margin: 0rem 0rem;
    }
    .lesbutton{
        justify-content: center;
    }
    footer{
        text-align: start;
        .logo__footer{
            width: 100px;
        }
        ul{
            margin-left: 1rem;
        }
    }
        
    
}


